body {
    background-image: url("CVBackground.jpg");

    background-size: cover;
  }



  ol {color: #192965; }

label{color:#192965; }



a:hover {color: gold;}

.table-heading {color: #192965; }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;
    width: 8%;
  }

h1{
  color: #192965;
}
h3 {
  color: #192965;
}
