body {
    background-color: #E0EBE8;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;
    width: 8%;
  }

h1{
  color: #00CED1;
}
h3 {
  color: #00CED1;
}
